{
  "presets": [
    "flow",
    ["env", {
      "targets": {
        "browsers": [
          "IE 11"
        ],
        "uglify": false
      },
      "useBuiltIns": true,
      "modules": false
    }]
  ],
  "plugins": [
    "transform-class-properties"
  ]
}